:root {
  /* Rounded  */
  --rounded: 0.25rem; /* 4px */

  /* Rounded small  */
  --rounded-sm: 0.125rem; /* 2px */

  /* Rounded medium  */
  --rounded-md: 0.375rem; /* 6px */

  /* Rounded large */
  --rounded-lg: 1rem; /* 16px */

  /* Rounded extra large */
  --rounded-xl: 1.5rem; /* 24px */

  /* Rounded  none */
  --rounded-none: 0px;
}
