:root {
  /* Shadow  */
  --morph-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);

  /* Shadow small */
  --morph-shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 5%);

  /* Shadow medium */
  --morph-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 10%),
    0 2px 4px -2px rgb(0 0 0 / 10%);

  /* Shadow large */
  --morph-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 6px -4px rgb(0 0 0 / 10%);

  /* Shadow extra large */
  --morph-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 10%),
    0 8px 10px -6px rgb(0 0 0 / 10%);

  /* Shadow inner */
  --morph-shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 5%);

  /* Shadow none */
  --morph-shadow-none: 0 0 #0000;
}
