.m-text-primary {
  color: var(--morph-color-primary);
}

.m-text-success {
  color: var(--morph-color-success);
}

.m-text-error {
  color: var(--morph-color-error);
}

.m-text-warning {
  color: var(--morph-color-warning);
}

.m-text-neutral {
  color: var(--morph-color-neutral);
}

.m-text-purple {
  color: var(--morph-color-purple);
}
