.m-alert {
  padding: var(--morph-padding-y) var(--morph-padding-x);
  border-radius: var(--rounded-md);
  display: flex;
  align-items: center;
  gap: var(--morph-padding);
  max-width: max-content;
  flex-wrap: wrap;
  text-wrap: pretty;

  & > * {
    flex-grow: 1;
  }
}

.m-alert-primary {
  background-color: var(--morph-color-primary-100);
  border: 1px solid var(--morph-color-primary);
}

.m-alert-success {
  background-color: var(--morph-color-success-100);
  border: 1px solid var(--morph-color-success);
}

.m-alert-error {
  background-color: var(--morph-color-error-100);
  border: 1px solid var(--morph-color-error);
}

.m-alert-warn {
  background-color: var(--morph-color-warn-100);
  border: 1px solid var(--morph-color-warn);
}

.m-alert-neutral {
  background-color: var(--morph-color-neutral-100);
  border: 1px solid var(--morph-color-neutral);
}

.m-alert-purple {
  background-color: var(--morph-color-purple-100);
  border: 1px solid var(--morph-color-purple);
}
