.m-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--morph-shadow);
  padding: var(--morph-padding-y) var(--morph-padding-x);
  border-radius: var(--rounded);

  &:hover {
    box-shadow: var(--morph-shadow-none);
  }
}

.m-button-primary {
  background-color: var(--morph-color-primary);
  color: var(--morph-color-primary-foreground);
}
