.m-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--morph-shadow);
  outline: none;

  &:hover {
    box-shadow: var(--morph-shadow-none);
  }
}
